<div class="main">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="javascript:void(0);">WebChat</a>
            </div>
            <div class="navbar-collapse collapse" ng-if="auth.isLoggedIn()">
                <ul class="nav navbar-nav">
                    <li ng-class="{'active': state.current.name == 'home.rooms'}">
                        <a ui-sref="home.rooms">Комнаты</a>
                    </li>
                    <li ng-class="{'active': state.current.name == 'home.rooms-new'}">
                        <a ui-sref="home.rooms-new">Новая комната</a>
                    </li>
                    <li ng-class="{'active': state.current.name == 'home.invitations'}">
                        <a ui-sref="home.invitations">Приглашения</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button type="button" class="btn btn-primary text-white"><i class="material-icons">face</i>{{ auth.session.user.nickname }}</button>
                        <button type="button" class="btn btn-primary text-white" ng-click="logout()">Выход</button>
                    </li>
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </div>

    <div class="container" style="margin-top:120px;">
        <div class="row">
            <!--Список комнат-->
            <div class="col-md-2 col-lg-2">
                <div class="rooms-container">
                    <div class="rooms-container-header">
                        Комнаты
                    </div>
                    <ul class="rooms-list" ng-if="rooms && rooms.length > 0">
                        <li class="rooms-list-item" ng-class="{'active': currentRoom.id == room.id}" ng-repeat="room in rooms" ng-click="selectRoom(room)">{{ room.name }}</li>
                    </ul>
                    <!-- если комнат нет -->
                    <div class="empty-placeholder" ng-if="rooms.length == 0">
                        Нет комнат
                    </div>
                </div>
            </div>
            <!--Окно для сообщений-->
            <div class="col-md-5 col-lg-5">
                <div class="selected-room-container-wrapper">
                    <div class="selected-room-header" ng-if="currentRoom">
                        <i class="material-icons cursor-pointer" ng-if="currentRoom.owner.id!=auth.session.user.id" data-toggle="modal" data-target="#leaveRoom">subdirectory_arrow_right</i>
                        <span>{{ currentRoom.name }}</span>
                        <i class="material-icons cursor-pointer" ng-if="currentRoom.owner.id==auth.session.user.id" ui-sref="home.rooms-update({roomID: currentRoom.id})">edit</i>
                    </div>
                    <div class="selected-room-container" ng-if="currentRoom">
                        <div class="selected-room-container-messages" scroll-bottom>
                            <div class="message-wrapper" ng-repeat="message in roomMessages[currentRoom.id].messages| orderBy:'creationTime'">
                                <div class="message-info">
                                    <strong>
                                        {{ message.user.nickname }}
                                    </strong>
                                    <span>{{ message.creationTime| date:'dd.MM.yyyy HH:mm:ss' }}</span>
                                </div>
                                <div class="message-content">
                                    {{ message.content }}
                                </div>
                            </div>
                        </div>
                        <div class="selected-room-form">
                            <form role="form">
                                <div class="form-group">
                                    <label for="newMessage" class="control-label">Сообщение</label>
                                    <textarea class="form-control"
                                              id="newMessage"
                                              name="newMessage"
                                              ng-model="roomMessages[currentRoom.id].message.content"
                                              rows="4"
                                              style="resize:none;"
                                              focus
                                              autofocus="true">
                                    </textarea>
                                </div>
                                <button type="submit" class="btn btn-primary pull-right" ng-click="send()">Отправить</button>
                            </form>
                        </div>
                    </div>
                    <div class="selected-room-header" ng-if="!currentRoom">
                        <span>Сообщения</span>
                    </div>
                    <div class="selected-room-container" ng-if="!currentRoom">
                    </div>
                </div>
            </div>
            <!--Меняющееся содержимое с различными опциями-->
            <div class="col-md-5 col-lg-5">
                <div ui-view></div>
            </div>
        </div>
    </div>

</div>

<div id="leaveRoom" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Выход из комнаты</h4>
            </div>
            <div class="modal-body">
                <p>Вы уверенны, что хотите покинуть комнату <strong>{{ currentRoom.name}}</strong>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-warning" ng-click="leaveRoom()" data-dismiss="modal">Выйти</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->