<div class="main">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="javascript:void(0);">WebChat</a>
            </div>
            <div class="navbar-collapse collapse" ng-if="!auth.isLoggedIn()">
                <div class="navbar-form navbar-right">
                    <button type="button" class="btn btn-primary" ui-sref="registration">Register</button>
                </div>
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" placeholder="Email" ng-model="account.username" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" ng-model="account.password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success" ng-click="login()">Sign in</button>
                </form>
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" placeholder="Nickname" ng-model="accountNick.nickname" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-info" ng-click="loginNick()">Start</button>
                </form>
            </div><!--/.navbar-collapse -->
            <div class="navbar-collapse collapse" ng-if="auth.isLoggedIn()">
                <div class="navbar-form navbar-right">
                    <span>{{ session.user.nickname }}</span>
                    <button type="button" class="btn btn-primary" ng-click="logout()">Exit</button>
                </div>
            </div><!--/.navbar-collapse -->
        </div>
    </div>

    <div class="navbar navbar-default" role="navigation" style="margin-top:50px;">
        <div class="container">
            <div class="navbar-collapse collapse">
                <div class="navbar-form">
                    <button type="button" class="btn btn-primary" ui-sref="home.rooms">Show rooms</button>
                    <button type="button" class="btn btn-primary" ui-sref="home.rooms-new">Add room</button>
                </div>
            </div><!--/.navbar-collapse -->
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!--Список комнат-->
            <div class="col-md-2 col-lg-2">
                <div class="rooms-container">
                    <div class="rooms-container-header">
                        Комнаты
                    </div>
                    <ul class="rooms-list" ng-if="rooms && rooms.length > 0">
                        <li class="rooms-list-item" ng-class="{'active': currentRoom.id == room.id}" ng-repeat="room in rooms" ng-click="selectRoom(room)">{{ room.name }}</li>
                    </ul>
                </div>
            </div>
            <!--Окно для сообщений-->
            <div class="col-md-5 col-lg-5">
                <div class="selected-room-container-wrapper">
                    <div class="selected-room-header" ng-if="currentRoom">
                        <span class="glyphicon glyphicon-share" title="Exit" ng-if="room.owner.id!=auth.session.user.id" data-toggle="modal" data-target="#leaveRoom"></span>
                        <span>{{ currentRoom.name }}</span>
                        <span class="pull-right glyphicon glyphicon-edit" title="Edit" ng-if="room.owner.id==auth.session.user.id" ui-sref="home.rooms-update{roomID: currentRoom.id}"></span>
                    </div>
                    <div class="selected-room-container" ng-if="currentRoom">
                        <div class="selected-room-container-messages">
                            <div>Первое сообщение</div>
                        </div>
                        <div class="selected-room-form">
                            <form role="form">
                                <div class="form-group">
                                    <textarea class="form-control" name="newMessage" rows="8" style="resize: none;" autofocus="true"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary pull-right">Send</button>
                            </form>
                        </div>
                    </div>
                    <div class="selected-room-header" ng-if="!currentRoom">
                        <span>Сообщения</span>
                    </div>
                    <div class="selected-room-container" ng-if="!currentRoom">
                    </div>
                </div>
            </div>
            <!--Меняющееся содержимое с различными опциями-->
            <div class="col-md-5 col-lg-5">
                <div ui-view></div>
            </div>
        </div>
    </div>

</div>

<div id="leaveRoom" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Выход из комнаты</h4>
            </div>
            <div class="modal-body">
                <p>Вы уверенны, что хотите покинуть комнату <strong>{{ currentRoom.name}}</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-warning" ng-click="leaveRoom()" data-dismiss="modal">Выйти</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->