<div class="third-part">
    <div class="third-part-header">
        <span>Приглашения</span>
    </div>
    <div class="third-part-inner">
        <div class="invitations-container" ng-if="invitations.length>0">
            <ul style="list-style:none;">
                <li ng-repeat="invitation in invitations">
                    <div class="row">
                        <div class="col-md-7 col-sm-7">
                            <div class="invitation-label">{{ invitation.room.name }}</div>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <button class="btn btn-primary btn-fab btn-fab-mini" ng-click="accept(invitation)">
                                <i class="material-icons">check_circle</i>
                            </button>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <button class="btn btn-danger btn-fab btn-fab-mini" ng-click="reject(invitation)">
                                <i class="material-icons">delete</i>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="empty-placeholder" ng-if="invitations.length==0">
            Нет приглашений
        </div>
    </div>
</div>