<div class="third-part">
    <div class="third-part-header">
        <span>Создание комнаты</span>
    </div>
    <div class="third-part-inner">
        <form class="form-horizontal" role="form" name="roomForm">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Название комнаты</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" ng-model="room.name" placeholder="Название комнаты" required>
                </div>
            </div>
            <div class="form-group">
                <label for="type" class="col-sm-2 control-label">Тип комнаты</label>
                <div class="col-sm-10">
                    <input type="checkbox" name="type" id="type" ng-model="room.type" ng-true-value="1" ng-false-value="0">Закрытая
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-default" ui-sref="home.rooms">Отменить</button>
                    <button type="button" class="btn btn-primary" ng-disabled="roomForm.$invalid" ng-click="save()">Сохранить</button>
                </div>
            </div>
        </form>
    </div>
</div>