<div class="third-part">
    <div class="third-part-header">
        <span>Редактирование комнаты {{ room.name }}</span>
    </div>
    <div class="third-part-inner">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#main" data-toggle="tab">Основные настройки</a></li>
            <li><a href="#users" data-toggle="tab">Участники</a></li>
            <li><a href="#invite" data-toggle="tab" ng-if="room.type == roomModel.types.CLOSE">Пригласить</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="main">
                <form class="form-horizontal" role="form" name="roomForm">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Название комнаты</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" ng-model="room.name" placeholder="Название комнаты" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="type" class="col-sm-2 control-label">Тип комнаты</label>
                        <div class="col-sm-10">
                            <input type="checkbox" name="type" id="type" ng-model="room.type" ng-true-value="1" ng-false-value="0">Закрытая
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-default pull-left" ng-click="deleteRoom()">Удалить</button>
                            <button type="button" class="btn btn-default" ui-sref="home.rooms">Отменить</button>
                            <button type="button" class="btn btn-primary" ng-disabled="roomForm.$invalid" ng-click="save()">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane" id="users">
                <ul>
                    <li ng-repeat="user in room.users">
                        <input type="checkbox"
                               ng-model="selected"
                               ng-change="usersToRemove[user.id] = (selected && user) || undefined"
                               name="user">
                        {{ user.nickname }}
                    </li>
                </ul>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#removeUsers">Удалить</button>
            </div>
            <div class="tab-pane" id="invite">
                <button type="button" ng-click="addNewUserToInvite()"><span class="glyphicon glyphicon-plus"></span></button>
                <ul>
                    <li ng-repeat="userToInvite in usersToInvite track by $index">
                        <input type="text"
                               ng-model="userToInvite.login"
                               name="userToInvite"
                               placeholder="Введите логин приглашаемого"
                               >
                        <button type="button" class="btn btn-default" ng-click="deleteUserToInvite()"><span class="glyphicon glyphicon-remove"></span></button>
                    </li>
                </ul>
                <button type="button" class="btn btn-primary" ng-click="inviteUsers()">Пригласить</button>
            </div>
        </div>
    </div>
</div>

<div id="removeUsers" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Удаление участников</h4>
            </div>
            <div class="modal-body">
                <p>Вы уверенны, что хотите удалить участников из комнаты <strong>{{ room.name }}</strong>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-warning" ng-click="removeUsers()" data-dismiss="modal">Удалить</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->