<div class="third-part">
    <div class="third-part-header">
        <span>Создание комнаты</span>
    </div>
    <div class="third-part-inner">
        <form class="form-input" role="form" name="roomForm">

            <div class="form-group">
                <label for="name" class="control-label">Название комнаты</label>
                <input type="text" class="form-control" id="name" ng-model="room.name" required>
            </div>

            <div class="form-group">
                <label for="type" class="control-label">Тип комнаты</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="type" id="type" ng-model="room.type" ng-true-value="1" ng-false-value="0">
                                <span class="checkbox-material">
                                    <span class="check"></span>
                                </span>
                        Закрытая
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="pull-right">
                    <button type="button" class="btn btn-warning" ui-sref="home.rooms">Отмена</button>
                    <button type="button" class="btn btn-primary" ng-disabled="roomForm.$invalid" ng-click="save()">Сохранить</button>
                </div>
            </div>

        </form>
    </div>
</div>