@color-success: #449d44;
@color-primary: #008f81;
@color-info: #5bc0de;

@color-text: #343434;
@color-white: #ffffff;

.panel-header(){
    padding   : 12px;

    text-align: center;
    color     : @color-white;
    font-size : 18px;

    background-color: @color-primary;
}

body{
    color: @color-text;
    background-color: lighten(@color-primary, 70%);
}

.cursor-pointer{
    cursor: pointer;
}

// sidebar со списком комнат
.rooms-container{
    width           : 100%;
    min-height      : 400px;
    max-height      : 700px;

    border          : 1px solid @color-primary;
    border-radius   : 4px;

    background-color: lighten(@color-primary, 70%);

    &-header{
        .panel-header();
        padding   : 12px 0;
    }

    ul.rooms-list{
        max-height: 651px;
        padding   : 0;

        list-style: none;

        font-size : 16px;

        overflow-y: auto;
        & li.rooms-list-item{
            padding      : 12px;

            border-bottom: 1px dashed lighten(@color-primary, 60%);

            overflow-x   : hidden;

            &.active{
                background-color: lighten(@color-primary, 60%);
            }
        }

        & li.rooms-list-item:hover{
            cursor: default;
            background-color: lighten(@color-primary, 50%);
        }
    }
}

// окно для ввода и показа сообщений
.selected-room-container-wrapper{
    width           : 100%;
    height          : 700px;

    border          : 1px solid @color-primary;
    border-radius   : 4px;

    background-color: lighten(@color-primary, 70%);

    & .selected-room-header{
        .panel-header();
    }

    .selected-room-container{
        padding: 24px;

        &-messages{
            max-height      : 380px;
            height          : 380px;

            overflow-y      : auto;
            border-radius   : 4px;

            background-color: @color-white;
        }

        & .selected-room-form{
            margin-top: 12px;
        }
    }

}

// третья часть страницы - панель
.third-part{
    width           : 100%;
    height          : 700px;

    border          : 1px solid @color-primary;
    border-radius   : 4px;

    background-color: lighten(@color-primary, 70%);

    &-header{
        .panel-header();
    }

    &-inner{
        padding: 12px;
    }

}

.form-tabs .active{
    background-color: lighten(@color-primary, 10%);
}